.m-r-10px {
    margin-right: 10px;
}

.m-b-10px {
    margin-bottom: 10px;
}

.m-b-15px {
    margin-bottom: 15px;
}

.m-b-20px {
    margin-bottom: 20px;
}

.w-5-pct {
    width: 5%;
}

.w-10-pct {
    width: 10%;
}

.w-15-pct {
    width: 15%;
}

.w-20-pct {
    width: 20%;
}

.w-25-pct {
    width: 25%;
}

.w-30-pct {
    width: 30%;
}

.w-35-pct {
    width: 35%;
}

.w-40-pct {
    width: 40%;
}

.w-45-pct {
    width: 45%;
}

.w-50-pct {
    width: 50%;
}

.w-55-pct {
    width: 55%;
}

.w-60-pct {
    width: 60%;
}

.w-65-pct {
    width: 65%;
}

.w-70-pct {
    width: 70%;
}

.w-75-pct {
    width: 75%;
}

.w-80-pct {
    width: 80%;
}

.w-85-pct {
    width: 85%;
}

.w-90-pct {
    width: 90%;
}

.w-95-pct {
    width: 95%;
}

.w-100-pct {
    width: 100%;
}

.display-none {
    display: none;
}

.padding-bottom-2em {
    padding-bottom: 2em;
}

.width-30-pct {
    width: 30%;
}

.width-40-pct {
    width: 40%;
}

.overflow-hidden {
    overflow: hidden;
}

.margin-right-1em {
    margin-right: 1em;
}

.right-margin {
    margin: 0 .5em 0 0;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-zero {
    margin: 0;
}

.text-align-center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


/* Change the link color on hover */

ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#page-title,
#menu-title {
    text-align: center;
}

#logoComp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgba(147, 158, 253, 0.801);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

#side-bar {
    display: flexbox;
    position: sticky;
}


/** Abaixo desse comentário são apenas testes **/

header[role="banner"] #logo-main {
    display: block;
    margin: 20px auto;
}

#navbar-primary.navbar-default {
    background: transparent;
    border: none;
}

#navbar-primary.navbar-default .navbar-nav {
    width: 100%;
    text-align: center;
}

#navbar-primary.navbar-default .navbar-nav>li {
    display: inline-block;
    float: none;
}

#navbar-primary.navbar-default .navbar-nav>li>a {
    padding-left: 30px;
    padding-right: 30px;
}

#navbar-primary.navbar-default .navbar-nav {
    background-color: rgb(177, 255, 177);
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.tr:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#texto-inicial {
    text-align: center;
}